{% extends 'blog/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>

<form method="POST">
    {% csrf_token %}
    
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="errors">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    
    {% if form.non_field_errors %}
        <div class="errors">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
    </div>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
{% endblock %}
