{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} - Django Blog{% endblock %}

{% block content %}
<article class="post-detail">
    <h1>{{ post.title }}</h1>
    
    <div class="post-meta">
        <div class="author-info">
            <span>By {{ post.author.username }}</span>
        </div>
        <div class="date-info">
            <span>Published on {{ post.published_date|date:"F d, Y" }}</span>
        </div>
    </div>
    
    <div class="post-content">
        {{ post.content|linebreaks }}
    </div>
    
    <div class="post-actions">
        <a href="{% url 'post_list' %}" class="btn btn-back">Back to Posts</a>
        {% if user == post.author %}
            <div class="author-actions">
                <a href="{% url 'post_update' post.id %}" class="btn btn-edit">Edit</a>
                <a href="{% url 'post_delete' post.id %}" class="btn btn-delete">Delete</a>
            </div>
        {% endif %}
    </div>
</article>
{% endblock %}
